<% provide(:title, t("about")) %>
<h1><%= t ".title" %></h1>
<p>
  <%= raw t(".content_about",
    rort_link: link_to(t(".rort_name"), t(".url_rort")),
    book_link: link_to(t(".book_name"), t(".url_book")),
    series_link: link_to(t(".series_name"), t(".url_series")),
    ror_link: link_to(t(".ror_name"), t(".url_ror"))) %>
</p>
