<% provide(:title, t("help")) %>
<h1><%= t ".title" %></h1>
<p>
<%= raw t(".content_help",
  section_link: link_to(t(".section_name"), t(".url_section")),
  book_link: link_to(t(".book_name"), t(".url_book"))) %>
</p>
